* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --default-background-color: whitesmoke;
  --default-text-color: black;
  --darktheme-background-color: black;
  --darktheme-text-color: white;
}
.app {
  width: 100%;
}
.scrolled-header {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}
.static-header {
  background-color: var(--darktheme-background-color);
  color: var(--darktheme-text-color);
  margin: 0 0 10%;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 0 0 20%;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 5%;
  transition: 0.5s;
  z-index: 1;

  h1 {
    font-size: 16px;
    @media only screen and (min-width: 700px) {
      font-size: 20px;
    }
  }
  nav ul {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    li {
      list-style-type: none;
      margin: 0 0 0 2px;
      position: relative;
      font-family: "poppins", sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      padding: 0 5px;
      @media only screen and (min-width: 700px) {
        margin: 0 0 0 10px;
        padding: 0 10px;
        font-size: 16px;
      }
    }
    li:after {
      content: "";
      position: absolute;
      background-color: rgba(66, 153, 225, 0.6);
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
    }
    li:hover {
      color: grey;
    }
    li:hover:after {
      width: 100%;
    }
  }
}

.nasacard-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 0;
  grid-column-gap: 20px;
  line-height: 1.5;
  padding: 10% 0 5%;
}
.nasa-data-card {
  margin: 5% 0;
  padding: 0 0 10px;
  border-radius: 10px;
  width: 100%;
  background-color: whitesmoke;
}
.photo-credit {
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
}
.photographer {
  color: rgb(0, 132, 255);
  font-size: 12px;
  font-weight: 600;
}
.nasa-data-card:hover {
  filter: drop-shadow(5px 5px 10px #666);
}
.liked:hover {
  cursor: pointer;
}
.pagination {
  width: 100%;
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  .pages {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    button,
    .page-btn {
      border: 1px solid var(--default-text-color);
      padding: 5px;
      border-radius: 5px;
      font-weight: 700;
      margin: 0 5px;
    }

    @media only screen and (min-width: 700px) {
      width: 15%;
    }
  }
}
.page-btn:hover {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
